{% extends "base.html" %}

{% block alert %}
    <div class="toast toast-top toast-end">
        <div class="alert alert-info">
            <span>Hello from daisyUi 👋</span>
        </div>
    </div>
{% endblock %}

{% block content %}



<div class="container mx-auto">
      <h1 class="text-5xl font-bold">Welcome to the Home Page</h1>
        <section class="flex items-center justify-center h-screen">
              <p class="mt-4">This is the home page of the application.</p>
   
        </section>
    </div>





{% endblock %}