# Node.js specific ignores
**/node_modules/
**/dist
.git
npm-debug.log
.coverage
.coverage.*
.env
.env.*
.env.production
.aws

# Python specific ignores
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt

# Django/Node.js additional ignores
db.sqlite3
netoc.log
*.pem
*.crt
*.key
*.db
*.egg-info/
build/
dist/
media/
static/
logs/
.vscode/
.idea/
secrets.*
.env.*
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
